<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="x-apple-disable-message-reformatting" />
    <title></title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700"
      rel="stylesheet"
    />

  </head>

  <body
    width="100%"
    style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f1f1f1;"
  >
    <h1>Cảm ơn quý khách đã mua hàng của chúng tôi </h1>
    <h2>Đơn hàng của quý khách gồm có {{itemProduct}} sản phẩm</h2>
    <h2>Tổng đơn hàng của quý khách là {{Amount}}</h2>
    <h2>Tổng đơn hàng của quý khách là {{shippingInfo.address}}</h2>
    <h2>Tổng đơn hàng của quý khách là {{shippingInfo.phone}}</h2>
    {{#with list}}
      {{#with this}}
        name:{{this.name}}
      {{/with}}
    {{/with}}
    <h3>Quý Khách vui lòng đăng nhập vào website:<a
        href="http://localhost:3000/"
      >http://localhost:3000/</a>để kiểm tra đơn hàng.</h3>
    <h3>Quý khách vui lòng chuyển khoản vào số tài khoản này: 123456789 tại Ngân
      hàng MB Bank - chủ sở hữu Đặng Công Tuyến</h3>
    <h3>Mọi thắc mắc xin liên hệ sđt: 0815312150</h3>
  </body>

</html>